@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
.front-wrap{
    display:flex;
    text-shadow: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(183deg, rgba(141,35,46,0.5) 1%, rgba(141,35,46,0) 60%),
    linear-gradient(250deg, rgba(141,35,46,0) 21%, rgba(141,35,46,0.2) 20%, rgba(11,35,47,0.2) 50%),
    linear-gradient(250deg, rgba(141,35,46,0) 23%, rgba(141,35,46,0.2) 20%, rgba(11,35,47,0.2) 50%),
    linear-gradient(250deg, rgba(141,35,46,0) 25%, rgba(141,35,46,0.2) 20%, rgba(11,35,47,0.2) 50%),
    repeating-linear-gradient(179deg, rgba(255,255,255,0.1), rgba(255,255,255,0.1) 3px, rgba(0,0,0,0.1) 3px, rgba(0,0,0,0.1) 5px);
    background-color: #0b232f;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Rubik Glitch';
    color:#eb0005;
    /* grid-row-gap: 5rem;
    grid-column-gap: 5rem; */
}
.front-heading{
    font-size: 14vw;
    font-weight:lighter;
    padding-bottom: 2rem;
    font-family: "Rubik Glitch";
    animation: front-heading 3s 1s infinite;
}
.grid-container{
    display: grid;
    grid-template-columns: 35vw 35vw;
    grid-template-rows: 20vh 20vh 20vh;
    /* padding:10ch; */
    grid-column-gap: 10vw;
    grid-row-gap: 4vh;
    font-family: VT323;
}
.tile-content{
    font-size: 2em;
    font-weight:initial;
    font-family: "Rubik Glitch";
    text-shadow: none;

}
.tile-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: available;
    height:available;
    padding: 1em;
    color:#eb0005;
    font-family: VT323;
    background:rgb(0,0,0,0.2);
    border-radius:.25em;
    color:#eb0005;
    text-decoration: none;
    transition: transform 250ms ease-in-out;
    border:.25ch solid #eb0005;
}
.tile-link:hover,.tile-link:focus{
    transform: scale(1.05);
}
@media screen and (max-width: 480px) {
    .tile-content{
        font-size: 1.5em;
    }
    .tile-link{
        width:60vw;
    }
   .grid-container{
    display: flex;
    flex-direction:column;
    /*grid-template-columns: 35vw 35vw; */
    /*grid-template-rows: 20vh 20vh 20vh; */
    /* padding:10ch; */
    /*grid-column-gap: 10vw; */
    /*grid-row-gap: 4vh; */
    font-family: VT323;
    }
    body{
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom:50px;
        font-family: "Rubik Glitch";
    }
}
@media(hover: hover) and (pointer: fine) {
    .tile-link:hover {
        transform: scale(1.05);
    }
}


@keyframes front-heading {
    1% {
        transform: rotateX(10deg) skewX(90deg);
    }
    2% {
        transform: rotateX(0deg) skewX(0deg);
    }
}
@keyframes noise-1 {
    3.3333333333% {
        clip-path: inset(27px 0 12px 0);
    }
    6.6666666667% {
        clip-path: inset(98px 0 3px 0);
    }
    10% {
        clip-path: inset(31px 0 36px 0);
    }
    13.3333333333% {
        clip-path: inset(77px 0 20px 0);
    }
    16.6666666667% {
        clip-path: inset(88px 0 11px 0);
    }
    20% {
        clip-path: inset(47px 0 51px 0);
    }
    23.3333333333% {
        clip-path: inset(91px 0 8px 0);
    }
    26.6666666667% {
        clip-path: inset(56px 0 26px 0);
    }
    30% {
        clip-path: inset(92px 0 1px 0);
    }
    33.3333333333% {
        clip-path: inset(13px 0 81px 0);
    }
    36.6666666667% {
        clip-path: inset(32px 0 51px 0);
    }
    40% {
        clip-path: inset(23px 0 48px 0);
    }
    43.3333333333% {
        clip-path: inset(82px 0 9px 0);
    }
    46.6666666667% {
        clip-path: inset(62px 0 22px 0);
    }
    50% {
        clip-path: inset(43px 0 43px 0);
    }
    53.3333333333% {
        clip-path: inset(37px 0 44px 0);
    }
    56.6666666667% {
        clip-path: inset(19px 0 33px 0);
    }
    60% {
        clip-path: inset(83px 0 3px 0);
    }
    63.3333333333% {
        clip-path: inset(45px 0 25px 0);
    }
    66.6666666667% {
        clip-path: inset(13px 0 23px 0);
    }
    70% {
        clip-path: inset(23px 0 50px 0);
    }
    73.3333333333% {
        clip-path: inset(92px 0 2px 0);
    }
    76.6666666667% {
        clip-path: inset(96px 0 5px 0);
    }
    80% {
        clip-path: inset(43px 0 11px 0);
    }
    83.3333333333% {
        clip-path: inset(97px 0 3px 0);
    }
    86.6666666667% {
        clip-path: inset(96px 0 1px 0);
    }
    90% {
        clip-path: inset(97px 0 3px 0);
    }
    93.3333333333% {
        clip-path: inset(30px 0 30px 0);
    }
    96.6666666667% {
        clip-path: inset(91px 0 9px 0);
    }
    100% {
        clip-path: inset(33px 0 66px 0);
    }
}
@keyframes noise-2 {
    0% {
        clip-path: inset(14px 0 19px 0);
    }
    3.3333333333% {
        clip-path: inset(37px 0 50px 0);
    }
    6.6666666667% {
        clip-path: inset(1px 0 48px 0);
    }
    10% {
        clip-path: inset(20px 0 57px 0);
    }
    13.3333333333% {
        clip-path: inset(23px 0 11px 0);
    }
    16.6666666667% {
        clip-path: inset(41px 0 60px 0);
    }
    20% {
        clip-path: inset(76px 0 3px 0);
    }
    23.3333333333% {
        clip-path: inset(3px 0 2px 0);
    }
    26.6666666667% {
        clip-path: inset(22px 0 17px 0);
    }
    30% {
        clip-path: inset(87px 0 3px 0);
    }
    33.3333333333% {
        clip-path: inset(59px 0 21px 0);
    }
    36.6666666667% {
        clip-path: inset(2px 0 40px 0);
    }
    40% {
        clip-path: inset(93px 0 4px 0);
    }
    43.3333333333% {
        clip-path: inset(91px 0 7px 0);
    }
    46.6666666667% {
        clip-path: inset(97px 0 3px 0);
    }
    50% {
        clip-path: inset(83px 0 7px 0);
    }
    53.3333333333% {
        clip-path: inset(59px 0 36px 0);
    }
    56.6666666667% {
        clip-path: inset(96px 0 5px 0);
    }
    60% {
        clip-path: inset(74px 0 17px 0);
    }
    63.3333333333% {
        clip-path: inset(9px 0 88px 0);
    }
    66.6666666667% {
        clip-path: inset(64px 0 36px 0);
    }
    70% {
        clip-path: inset(78px 0 2px 0);
    }
    73.3333333333% {
        clip-path: inset(45px 0 53px 0);
    }
    76.6666666667% {
        clip-path: inset(49px 0 7px 0);
    }
    80% {
        clip-path: inset(5px 0 18px 0);
    }
    83.3333333333% {
        clip-path: inset(93px 0 1px 0);
    }
    86.6666666667% {
        clip-path: inset(84px 0 17px 0);
    }
    90% {
        clip-path: inset(33px 0 56px 0);
    }
    93.3333333333% {
        clip-path: inset(76px 0 16px 0);
    }
    96.6666666667% {
        clip-path: inset(30px 0 61px 0);
    }
    100% {
        clip-path: inset(59px 0 1px 0);
    }
}
@keyframes fudge {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(0px, 2%);
    }
}
.glow {
    text-shadow: 0 0 1000px #dfbfbf;
    color: transparent;
    position: absolute;
    top: 0;
}
@keyframes front-heading-2 {
    1% {
        transform: rotateX(10deg) skewX(70deg);
    }
    2% {
        transform: rotateX(0deg) skewX(0deg);
    }
}
#quesload{
    top:220px;
    left:5px;
    font-family: VT323;
}
.loading {text-shadow: none;

    font-family: Consolas, monospace;
    font-size: 14px;
    text-transform: uppercase;
}
.loading.loading--glitch {
    animation: f 0.5s linear infinite, g 2s linear infinite;
    letter-spacing: 0.5em;
}
.loading.loading--glitch:before, .loading.loading--glitch:after {
    text-align: center;
    content: attr(data-title);
    position: absolute;
    margin: auto;
    overflow: hidden;
    clip: rect(0, 900px, 0 0);
}
.loading.loading--glitch:before {
    text-shadow: 2px 0 red;
    left: 0px;
    color:red;
    animation: b 1s infinite linear alternate-reverse;
}
.loading.loading--glitch:after {
    top: -2px;
    font-size: 15px;
    color: red;
    left: 0px;
    text-shadow: -2px 0 red;
    animation: a 1s infinite linear alternate-reverse;
}
.loading.loading--glitch.loading--animation {
    opacity: 0;
    animation: shown 0s linear 10.5s forwards;
    margin-left: -30px;
}
.loading.loading--typing {

    text-shadow: none;

    border-right: 0.1em solid;
    text-transform: none;
    width: 13ch;

    white-space: nowrap;
    overflow: hidden;
    animation: typing 1s steps(13, end), blink-caret 0.5s step-end infinite alternate, hiden 0s linear 1.3s forwards;
}
.loading.loading--center {
    position: absolute;
    top: 50%;
    left: calc(50% - 50px);
    margin: 0;
}

@keyframes shown {
    to {
        opacity: 1;
    }
}
@keyframes hiden {
    to {
        opacity: 0;
    }
}
@keyframes typing {
    from {
        width: 0;
    }
}
@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}
@keyframes f {
    0%, 3%, 4.3%, 5%, 42%, 44%, 88%, 90%, 92%, to {
        opacity: 1;
    }
    90% {
        -webkit-transform: translate(-2px);
        transform: translate(-2px);
    }
    43% {
        opacity: 0;
    }
}
@keyframes g {
    40% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform: skew(0, 0);
        transform: skew(0, 0);
    }
    41% {
        transform: scaleY(1.2);
        -webkit-transform: skew(50deg, 0);
        transform: skew(50deg, 0);
    }
    41%, 42% {
        opacity: 0.8;
        -webkit-transform: scaleY(1.2);
    }
    42% {
        transform: scaleY(1.2);
        -webkit-transform: skew(-80deg, 0);
        transform: skew(-80deg, 0);
    }
    43% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform: skew(0, 0);
        transform: skew(0, 0);
    }
}
@keyframes b {
    0% {
        clip: rect(80px, 9999px, 29px, 0);
    }
    5% {
        clip: rect(70px, 9999px, 93px, 0);
    }
    10% {
        clip: rect(95px, 9999px, 37px, 0);
    }
    15% {
        clip: rect(57px, 9999px, 78px, 0);
    }
    20% {
        clip: rect(8px, 9999px, 13px, 0);
    }
    25% {
        clip: rect(41px, 9999px, 35px, 0);
    }
    30% {
        clip: rect(58px, 9999px, 10px, 0);
    }
    35% {
        clip: rect(36px, 9999px, 89px, 0);
    }
    40% {
        clip: rect(91px, 9999px, 33px, 0);
    }
    45% {
        clip: rect(19px, 9999px, 48px, 0);
    }
    50% {
        clip: rect(11px, 9999px, 58px, 0);
    }
    55% {
        clip: rect(8px, 9999px, 58px, 0);
    }
    60% {
        clip: rect(26px, 9999px, 47px, 0);
    }
    65% {
        clip: rect(69px, 9999px, 73px, 0);
    }
    70% {
        clip: rect(74px, 9999px, 42px, 0);
    }
    75% {
        clip: rect(95px, 9999px, 96px, 0);
    }
    80% {
        clip: rect(51px, 9999px, 91px, 0);
    }
    85% {
        clip: rect(56px, 9999px, 17px, 0);
    }
    90% {
        clip: rect(48px, 9999px, 11px, 0);
    }
    95% {
        clip: rect(89px, 9999px, 98px, 0);
    }
    to {
        clip: rect(69px, 9999px, 63px, 0);
    }
}
@keyframes a {
    0% {
        clip: rect(30px, 9999px, 6px, 0);
    }
    5% {
        clip: rect(27px, 9999px, 30px, 0);
    }
    10% {
        clip: rect(6px, 9999px, 20px, 0);
    }
    15% {
        clip: rect(11px, 9999px, 8px, 0);
    }
    20% {
        clip: rect(23px, 9999px, 18px, 0);
    }
    25% {
        clip: rect(34px, 9999px, 25px, 0);
    }
    30% {
        clip: rect(19px, 9999px, 24px, 0);
    }
    35% {
        clip: rect(30px, 9999px, 20px, 0);
    }
    40% {
        clip: rect(24px, 9999px, 22px, 0);
    }
    45% {
        clip: rect(31px, 9999px, 9px, 0);
    }
    50% {
        clip: rect(47px, 9999px, 45px, 0);
    }
    55% {
        clip: rect(5px, 9999px, 6px, 0);
    }
    60% {
        clip: rect(10px, 9999px, 34px, 0);
    }
    65% {
        clip: rect(21px, 9999px, 33px, 0);
    }
    70% {
        clip: rect(19px, 9999px, 31px, 0);
    }
    75% {
        clip: rect(26px, 9999px, 44px, 0);
    }
    80% {
        clip: rect(34px, 9999px, 38px, 0);
    }
    85% {
        clip: rect(45px, 9999px, 40px, 0);
    }
    90% {
        clip: rect(6px, 9999px, 5px, 0);
    }
    95% {
        clip: rect(14px, 9999px, 87px, 0);
    }
    to {
        clip: rect(4px, 9999px, 58px, 0);
    }
}
#loaddiv{
    position: relative;
    top:200px;
    font-size: x-large;
    left:20px;
    animation: shown 0s linear 1.5s forwards;
}
#aidiv{
    position: relative;

    left: -10px;
    font-size: larger;
    width: 220px;
}